# Build output
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/

# Rider
.idea/

# OS
Thumbs.db
Desktop.ini
